[submodule "Movies-Service"]
	path = Movies-Service
	url = https://github.com/Morvie/MovieMicroservice.git
[submodule "Forums-Service"]
	path = Forums-Service
	url = https://github.com/Morvie/Forums.API.git
[submodule "FeedMessages-Service"]
	path = Threads-Service
	url = https://github.com/Morvie/FeedMessages.git
[submodule "Gateway"]
	path = Gateway
	url = https://github.com/Morvie/OcelotGateway.git
[submodule "Documentation"]
	path = Documentations
	url = https://github.com/Morvie/Documentation.git
