[submodule "Documentation"]
	path = Documentation
	url = https://github.com/Morvie/Documentation.git
[submodule "MovieMicroservice"]
	path = MovieMicroservice
	url = https://github.com/Morvie/MovieMicroservice.git
[submodule "Forums.API"]
	path = Forums.API
	url = https://github.com/Morvie/Forums.API.git
[submodule "FeedMessages"]
	path = FeedMessages
	url = https://github.com/Morvie/FeedMessages.git
[submodule "OcelotGateway"]
	path = OcelotGateway
	url = https://github.com/Morvie/OcelotGateway.git
[submodule "Morvie-Frontend"]
	path = Morvie-Frontend
	url = https://github.com/markgoertz/Morvie-Frontend
